<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Ticket Booking Agency</title>
</head>
<body style="font-family: Arial, sans-serif;">
    <h2>Hello Provider,</h2>
    <p>Your provider account has been <strong>approved</strong>.</p>

    <p><strong>Email:</strong> {Email}</p>
    <p><strong>Password:</strong> {Password}</p>

    <p>You can log in using the link below:</p>
    <a href="{LoginUrl}">Login to your account</a>
    <p><strong>Note:</strong> Once you get login change your Password</p>
    <br><br>
    <p>Thank you,<br>The Ticket Booking Agency Team</p>
</body>
</html>
